<%= simple_form_for [@proyect,@engineer], :html => { :class => 'form­horizontal' } do |f| %> 
  <%= f.input :fullname %>
  <%= f.input :dependency %>
  <%= f.input :studies %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), 
    proyect_engineers_path(@proyect), :class => 'btn' %> 
  </div>
<% end %>
